* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
}

/* Menu lateral */
/* Estilizando menu lateral */
aside {
    width: 250px;
    background: #1a1a2e;
    color: white;
    height: 100vh;
    padding: 20px;
    position: fixed;
}

aside h2 {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside li {
    margin: 10px 0;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    text-align: center;
}

aside a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: block;
}

aside a:hover {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}


/* Barra de navegação superior */
header {
    width: 100%;
    background: #bec1b9;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 250px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
}

nav li {
    margin: 0 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Conteúdo principal */
main {
    margin-left: 250px;
    padding: 105px 20px;
    width: calc(100% - 250px);
}

section {
    margin-bottom: 50px;
}

h2 {
    color: #16213e;
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input, button {
    margin-top: 10px;
    padding: 8px;
}

button {
    background: #1a1a2e;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0f3460;
}
